/* Estilos generales */
body {
    background-color: #121212;
    color: #f4f4f4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Encabezado */
  header {
    background-color: #171717;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
  }
  
  #logo {
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  /* Contenido principal */
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinear el contenido al inicio */
    padding: 2rem;
  }
  
  /* Contenedor de actualizaciones */
  .container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: left; /* Alinear el texto a la izquierda */
    max-width: 800px; /* Ancho máximo del contenedor */
  }
  
  /* Entradas de actualización */
  .update-entry {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid #333; /* Borde sutil */
    border-radius: 8px;
  }
  
  .update-entry h3 {
    color: #2196F3; /* Azul */
    margin-top: 0;
  }
  
  .update-entry ul {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0;
  }
  
  .update-entry li {
    margin-bottom: 0.5rem;
  }
  
  /* Pie de página */
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f4f4f4;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }
  
  footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
  
  footer a {
    color: #2196F3;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
